<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="mySQMPRO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="mySQMGPSPRO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="mySQMGPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <mySQMPRO.Properties.Settings>
      <setting name="ComPortString" serializeAs="String">
        <value>Com1</value>
      </setting>
      <setting name="ComPortSpeed" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataLogFileEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DataFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LogFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SetPoint1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SetPoint2" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="ErrorLoggingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogPathName" serializeAs="String">
        <value />
      </setting>
      <setting name="RainingAlert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RainingPollRate" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="GraphFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Dataloggingrate" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="CloudSensorIILogFileFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloudSensorIILogFilename" serializeAs="String">
        <value>mySQMPROWeatherData</value>
      </setting>
      <setting name="CloudSensorIIFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="GPSPresent" serializeAs="String">
        <value>False</value>
      </setting>
    </mySQMPRO.Properties.Settings>
    <mySQMGPSPRO.Properties.Settings>
      <setting name="ComPortString" serializeAs="String">
        <value>Com1</value>
      </setting>
      <setting name="ComPortSpeed" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataLogFileEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DataFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LogFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SetPoint1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SetPoint2" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="ErrorLoggingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogPathName" serializeAs="String">
        <value />
      </setting>
      <setting name="RainingAlert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RainingPollRate" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="GraphFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </mySQMGPSPRO.Properties.Settings>
    <mySQMGPS.Properties.Settings>
      <setting name="ComPortString" serializeAs="String">
        <value>Com1</value>
      </setting>
      <setting name="NMEAlogpath" serializeAs="String">
        <value />
      </setting>
      <setting name="NMEAlogname" serializeAs="String">
        <value />
      </setting>
      <setting name="NMEAloggingenabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NMEAEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComPortSpeed" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataLogFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="DataLogFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="DataLogFileEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DataFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LogFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </mySQMGPS.Properties.Settings>
  </userSettings>
</configuration>
